

body{

margin: 0;
padding: 0;


}

.h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* .tbl{

margin-top: 80px ;

} */
.slider-sidebar {
    background-color: rgb(57, 57, 57); /* Change this to the color you want */
  }



